* {
    box-sizing: border-box;
    font-family: "kumbh sans", serif;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #19A1AE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 374px;
    width: 326px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    box-shadow: 0 100px 100px #08465E50;
}

.profile-photo {
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 92px;
    justify-self: center;
}

.card-bg {
    position: absolute;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    top: 0;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 88px;
    border-top: 1px solid #e8e9ec;
    padding-bottom: 24px;
    padding-top: 24px;
}

.name, .follower-count, .photo-count, .likes-count {
    font-size: 18px;
    font-weight: bold;
    color: #2E3349;
    text-align: center;
}

.personal{
    margin-bottom: 24px;
}

.location{
    padding-top: 8px;
    text-align: center;
}

.title {
    font-size: 10px;
    color: #6B7082;
    letter-spacing: 1.5px;
    margin-top: 5px;
    text-align: center;
}

.location{
    font-size: 14px;
    color: #6B7082;
}

.age{
    font-size: 18px;
    color: #6B7082;
}

.pattern-top {
    position: absolute;
    z-index: 0;
    right: 50%;
    bottom: 50%;
}

.pattern-bottom {
    position: absolute;
    left: 45%;
    top: 60%;
    z-index: 0;
}

@media(min-width: 730px){
    .container{
        width: 350px;
    }
}

.attribution { font-size: 11px; text-align: center;
z-index: 10}
.attribution a { color: hsl(228, 45%, 44%); }